<div class="col-sm-2 col-md-4">
  <%= image_tag(product.image_url, class: "img-responsive") %>
  <h3><%= link_to product.name %></h3>
  <p><%= product.description %></p>
  <strong><%= product.price %></strong>
</div><!-- /col -->